.drag-and-drop {
  position: relative;
}

.drag-and-drop-placeholder {
  position: absolute;
  top: 0;
  left: 32px;
  right: 32px;
  bottom: 0;
  /* width: 100%; */
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #cae9f5;
  border-radius: 12px;
  color: #7f8e99;
  font-size: 24px;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}
.drag-and-drop-placeholder--error {
  background-color: #f7e7e7;
  color: #cf8e99;
}

.drag-and-drop-placeholder--success {
  background-color: #e7f7e7;
  color: #8ecf99;
}

.drag-drop-area {
  /* width: 100%;
  height: 100%; */
  margin: 0 32px;
  min-width: 238px;
  min-height: 218.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.035em;
  color: #bdbdbd;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 12px;
}
